<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>后台管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
</head>
<body>
<div class="layui-container">
	<form class="layui-form" id="form1">
		只完成了基础功能，需要时再写此项目
		<input type="hidden" id="userId" name="userId" th:value="${pro?.userId}"/>
	 	<!-- <div class="layui-row" style="margin-top:150px;">
		    <div class="layui-col-md7 layui-col-md-offset3">
			  <div class="layui-form-item">
			    <label class="layui-form-label">姓名</label>
			    <div class="layui-input-block" >
			      <input type="text" name="fullName" th:value="${pro?.fullName}" lay-verify="title" autocomplete="off" placeholder="姓名" class="layui-input">
			    </div>
			  </div>
				
		    </div>
	    
		 </div> -->
		 <!-- 第2行 -->
		 <div class="layui-row" style="margin-top:80px;">
		    <div class="layui-col-md5 layui-col-md-offset3">
			  <div class="layui-form-item layui-form-text">
			    <label class="layui-form-label">姓名</label>
			    <div class="layui-input-block">
			      <input type="text" name="realname" th:value="${pro?.realname}" lay-verify="title" autocomplete="off" placeholder="姓名" class="layui-input">
			    </div>
			  </div>
		    </div>
		 </div>
		 <!-- 第3行 -->
		 <div class="layui-row">
		    <div class="layui-col-md5 layui-col-md-offset3">
			  <div class="layui-form-item layui-form-text">
			    <label class="layui-form-label">账号</label>
			    <div class="layui-input-block">
			      <input type="text" name="username" th:value="${pro?.username}" lay-verify="title" autocomplete="off" placeholder="登录名" class="layui-input">
			    </div>
			  </div>
		    </div>
		 </div>
		 <!-- 第4行 -->
		 <div class="layui-row">
		    <div class="layui-col-md5 layui-col-md-offset3">
			  <div class="layui-form-item layui-form-text">
			    <label class="layui-form-label">微信号</label>
			    <div class="layui-input-block">
			      <input type="text" name="wechatName" th:value="${pro?.wechatName}" lay-verify="title" autocomplete="off" placeholder="微信号" class="layui-input">
			    </div>
			  </div>
		    </div>
		 </div>
		 
		 <!-- 第5行 -->
		 <div class="layui-row">
		    <div class="layui-col-md5 layui-col-md-offset3">
			  <div class="layui-form-item layui-form-text">
			    <label class="layui-form-label">手机号</label>
			    <div class="layui-input-block">
			      <input type="text" name="phoneNumber" th:value="${pro?.phoneNumber}" lay-verify="title" autocomplete="off" placeholder="手机号" class="layui-input">
			    </div>
			  </div>
		    </div>
		 </div>
		 <!-- 第3行 -->
		 <div class="layui-row">
		    <div class="layui-col-md3"></div>
		    <div class="layui-col-md5 layui-col-md-offset5">
		    	<button type="button" class="layui-btn layui-btn-normal layui-btn-radius onSave"><i class="layui-icon layui-icon-ok-circle"></i><span th:text="${#strings.isEmpty(pro)}?'保存':'更新'"></span></button>
		    </div>
		 </div>
	</form>
</div>
<script src="/layui/layui.all.js" charset="utf-8"></script>
<script type="text/html" id="oneCheck">
	<span>hehehehehe</span>
</script>
<script type="text/javascript">
layui.use(['form', 'layedit', 'laydate','element','jquery'], function() {
	var form = layui.form,
	layer = layui.layer,
	element=layui.element,
	$=layui.jquery;
	//保存、更新按钮
	$(document).on('click','.onSave',function(){
		var form1 = $("#form1").serialize();
		$.ajax({
			url:'/users/update',
			data:form1,
			success:function(data){
				if(data.code == 0){
					location.href="/page/users/list";
				}else{
					layer.msg(data.msg)
				}
			}
		})
	});
	
	//跳转题目页面按钮
	$(document).on('click','.onSave',function(){
		
	})
});
</script>
</body>
</html>